*{
    box-sizing: border-box;
}
body{
    background-image: url("../img/bg-2.png");
    
    font-family: sans-serif;

    background-attachment: fixed;
    /* agruge el estilo hidden para que no scrollee la pagina y quede mas linda (NICO)*/
     /*agregue MARGIN WIDTH DISLAY JUSTIFY-CONTENT (NICO) */
    margin: auto;
    width: 1180px;
    display: flex;
    justify-content: center;
}
header{
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.322);
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;

}

li{
    display: inline-block;
    margin-left: 30px;
    margin-top: 17px;
}
img{
    opacity: 0.7 ;
}
/* estilos en el conteiner (NICO)*/
.conteiner{
display: block;
float: left;
}
/* lo hize para que sea ajustable, no se que opinan */
.comentario{
    resize: auto;
}
/* agregue padding */
.conteiner article{
    padding: 10px
}
/* toquetie la imagen */
.user img{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    display: flex;
    margin: auto;
    width: 50px;
    height: 50px;
    display: inline;
    float: left;
    margin-right: 10px;
}
/* la portada me quedaba muy pegada */
#portada{
    padding-bottom: 20px;
}
.homero{
    width: 50px;
    height: 50px;
}
h1 {
    text-decoration: none;
}
a{
    text-decoration: none;
}